@inherits LayoutComponentBase

<div class="main">
    <div class="top-row">
        <ul class="nav nav-pills">
            <li class="nav-item px-3">
                <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                    <OpenIconic IconId="home" /> Home
                </NavLink>
            </li>
            <li class="nav-item px-3">
                <NavLink class="nav-link" href="manage">
                    <OpenIconic IconId="pencil" /> Manage
                </NavLink>
            </li>
            <li class="nav-item px-3">
                <NavLink class="nav-link" href="workoutlog">
                    <OpenIconic IconId="list" /> Log
                </NavLink>
            </li>
        </ul>
        <a href="https://github.com/olivierdagenais/FullBodyMix" target="_blank" class="ml-md-auto">
            <OpenIconic IconId="fork" /> olivierdagenais/FullBodyMix
        </a>
    </div>

    <div class="content px-4">
        @Body
    </div>
</div>
